<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="js/bootstrap.js"></script>
    <title>Index</title>
    <script>
        function hello() {
            window.location.href="hello";
        }

        function hello2() {
            window.location.href="hello2";
        }

        function login() {
            window.location.href="login";
        }
    </script>
</head>
<body>
    <h1 align="center" class="page-header text-center">Hello Spring Boot!<small>Welcome</small></h1>
    <div align="center" class="btn-group text-center" role="group">
        <button onclick="hello()" type="button" class="btn btn-primary btn-lg">Hello</button>
        <button onclick="login()" type="button" class="btn btn-primary btn-lg">Login</button>
        <button onclick="hello2()" type="button" class="btn btn-default">None</button>
    </div>
</body>
</html>
