<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="bootstrap.css"/>
    <script src="bootstrap.js"></script>
    <style>
        .btn-primary{
            background-color: #6f42c1;
            border-color: white;
        }
        h1{
            color: #6f42c1;
        }
        .alert-success{
            size: 300px;
        }
        .container-small
        {
            max-width: 350px;
        }
    </style>
</head>
<body>
<h1 align="center">登录</h1>
<div class="container container-small">
    <form class="container">
        <div class="form-group">
            <div align="center" class="alert-success">登陆成功正在跳转</div>
            <label>用户名</label>
            <input class="form-control" type="text">
        </div>
        <div class="form-group">
            <label>密  码</label>
            <input class="form-control" type="password">
        </div>
        <div align="center" class="form-group">
            <input class="btn btn-block" type="submit" value="立即登录">
        </div>
    </form>
</div>
</body>
</html>